<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Mahtavin TODO-sovellus</title>
    </head>
    <body>
        <ul>
            <li th:each="tehtava : ${tehtavat}">
                <span th:text="${tehtava.task}">tehtava</span>
                <a th:href="@{~/tehtavat/poista/{id}(id=${tehtava.id})}">poista</a>
            </li>
        </ul>

        <form method="POST">
            <input type="text" name="tehtava"/>
            <input type="submit" value="lisää!"/>
        </form>

    </body>
</html>
